.axure {
  background-image: url("../bgr/background-axure.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 57px 0 38px;
  position: relative;
}

.axure::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: rgba( 0, 0, 0, .55);
  top: 0;
  left: 0;
  z-index: 10;
}

.axure-container {
  z-index: 20;
  position: relative;
}

.axure-link {
  margin: auto;
  text-align: center;
}
