.form-item__label {
  width: 64px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #BDBDBD;
}

.form-item__input {
  border: none;
  border-bottom: 1px solid #BDBDBD;
}

.form-item__input:focus {
  border: none;
  border-bottom: 1px solid #BDBDBD;
  outline: 0;
}

.send-button {
  border: none;
  color: #FFFFFF;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  background-color: #EC7979;
  border: 1px solid #EC7979;
  text-transform: capitalize;
  cursor: pointer;
}

.send-button:hover {
  color: #EC7979;
  background-color: #FFFFFF;
  transition: .5s;
}

.send-button:active {
  color: #FFFFFF;
  background-color: #EC7979;
  transition: .9s;
}

.form-item__textarea {
  border: none;
  border-bottom: 1px solid #BDBDBD;
  resize: none;
}

.form-item__textarea:focus {
  border: none;
  border-bottom: 1px solid #BDBDBD;
  outline: 0;
}
