.heading-title__text {
  margin: auto;
  max-width: 670px;
  font-size: 36px;
  line-height: 42px;  
  font-family: 'Raleway';
  font-weight: 400;
  font-style: normal;  
  text-transform: uppercase;
  text-align: center; 
  color: #212121;  
}

.heading-title__text::after {
  content: '';
  display: block;
  margin: auto;
  margin: 34px auto;
  width: 64px;
  height: 2px;
  background-color: #E72424;  
}

.heading-title__description {
  margin: auto;
  margin-bottom: 68px;
  max-width: 780px;
  line-height: 19px;
  font-size: 14px;
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal; 
  text-align: center;     
  color: #86878B;  
}

.heading-title-bgr__text {
  margin: auto;
  max-width: 670px;
  font-size: 36px;
  line-height: 42px;  
  font-family: 'Raleway';
  font-weight: 400;
  font-style: normal;  
  text-transform: uppercase;
  text-align: center; 
  color: #FFFFFF;  
}

.heading-title-bgr__text::after {
  content: '';
  display: block;
  margin: auto;
  margin: 34px auto;
  width: 64px;
  height: 2px;
  background-color: #FFFFFF;  
}

.heading-title-bgr__description {
  margin: auto;
  margin-bottom: 57px;
  max-width: 780px;
  line-height: 19px;
  font-size: 14px;
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal; 
  text-align: center;     
  color: #FFFFFF;  
}
