.logo {
  display: inline-block;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  text-transform: uppercase;
}

.logo__text__color-changed {
  color: #EC7979;
}
