.social {
  background-color: #F8EFEF;
  padding: 14px 17px;
}

.social-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.social-info__name {
  display:inline-block;
  margin-bottom: 14px;
  width: 125px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #333333;
  text-transform: capitalize;
}

.social-info__text {
  width: 365px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #86878B;
}

.social-icon {
  margin: 0 -15px;
  width: 684px; 
}

.social-icon-picture {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 15px;
  font-style: normal;
  font-weight: 900;
  font-size: 42px;
  color: rgba(134, 135, 139, .3);
}
